<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase_auth_verify_email">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
<!--    <application-->
<!--        android:name=".MainActivity"-->
<!--    android:enableOnBackInvokedCallback="true">-->

<!--    &lt;!&ndash; Your activities go here &ndash;&gt;-->

<!--</application>-->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
