<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853326269440-ff3q1sefohlfeumon4bej0a9o871g5se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853326269440-ff3q1sefohlfeumon4bej0a9o871g5se</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ze6R7IOvXK7LjTZYuHM_sMOkMxvRLb8</string>
	<key>GCM_SENDER_ID</key>
	<string>853326269440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthVerifyEmail</string>
	<key>PROJECT_ID</key>
	<string>armyflighthours-a656a</string>
	<key>STORAGE_BUCKET</key>
	<string>armyflighthours-a656a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853326269440:ios:069a5c1fe8b548a59d1ce5</string>
</dict>
</plist>